html {
  height: 100vh; // fixes gradient on mobile
}

body {
  margin: 0;
  background-image: url(./assets/images/background-light.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: rgb(80, 80, 80);
  animation: showApp 1s;

  @keyframes showApp {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.dark {
  background-image: url(./assets//images/background-dark.jpg);
}

img {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
