.backdrop {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    animation: show 1s;

    @keyframes show {
        from {opacity: 0;}
        to {opacity: 1;}
      }
}