.note {
  position: relative;
  margin: 15px;
  min-width: 200px;
  max-width: 400px;
  min-height: 125px;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  animation: show 0.5s;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .category {
    padding: 2px 0;
    border-radius: 4px 4px 0 0;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    font-size: 12px;
    color: rgb(150, 150, 150);
    background-color: #ffffde;
  }

  .title {
    margin: 10px auto;
    margin-bottom: 0;
    width: 94%;
    text-align: center;
    line-height: 0.95;
    font-size: 24px;
    font-weight: normal;
    word-break: break-word;
  }

  .content {
    position: relative;
    flex-grow: 1;
    margin: 10px 12px 2.5px 12px;
    white-space: pre;
    overflow: auto;
    font-size: 16px;

    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar-thumb {
      visibility: hidden;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        visibility: visible;
      }
    }
  }

  .date,
  .confirmMessage {
    padding: 2.5px 0;
    text-align: center;
    font-size: 14px;
    color: rgb(160, 160, 160);
  }

  .confirmMessage {
    color: inherit;
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media (max-width: 480px) {
  .note {
    width: 100%;
    max-width: none;
    min-height: 100px;
    max-height: 250px;
    margin: 10px 0;

    .title {
      font-size: 22px;
    }

    .date,
    .confirmMessage {
      font-size: 12px;
    }
  }
}

/* Desktop Only */
@media (pointer: fine) {
  .note {
    .content {
      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: #999;
      }
    }
  }
}
