.cookiesMessage {
    z-index: 1;
    position: fixed;
    bottom: 2%;
    left: 25vw;
    width: 45vw;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 4px gray;
    text-align: center;
    color: rgb(112, 112 ,112);
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    user-select: none;
    animation: showCookiesMessage 8s;

    @keyframes showCookiesMessage {
        0% {opacity: 0;}
        80% {opacity: 0;}
        100% {opacity: 1;}
    }
}

.cookiesMessageDark {
    color: rgb(200, 200, 200);
    background-color: rgb(48, 48 ,48);
}

@media (max-width: 768px) {
    .cookiesMessage {
        width: 75vw;
        left: 12.5vw;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .cookiesMessage {
        width: 95vw;
        left: 2.5vw;
    }
}