.navBar {
    margin: 2vh auto;
    width: 98vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .title {
        width: 15vw;
        margin: 2vh 0;
    }

    .login {
        color: inherit;
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    
        &:hover {
            opacity: 0.5;
        }
    }
}

.navBarDark {
    .titleDark {
        filter: invert(100%);
    }

    .loginDark {
        color: black;
        filter: invert(100%);
    }
}

@media (max-width: 480px) {
    .navBar {
        width: 92vw;

        .title {
            width: 60vw;
            margin-top: 6vh;
        }
    }
}