.navBar {
    margin: 4vh auto;
    display: flex;
    justify-content: space-around;

    .name {
        border-bottom: 1px solid rgb(230, 230 ,230);
        font-size: 32px;
    }
}

.login {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 18px;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

@media (max-width: 768px) {
    .navBar {
        width: 60vw;
    }
}

@media (max-width: 480px) {
    .navBar {
        width: 90vw;
    }
}