@import 'styles/variables';

.wrapper {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 25px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--primary-color);
  animation: showUser 0.25s;

  @keyframes showUser {
    from {
      opacity: 0;
    }
  }

  @media ($viewport-4) {
    width: 420px;
  }
}

.userLogo {
  position: relative;
  left: 5px;
  margin: 20px auto 0;
  width: 60px;
}

.name {
  align-self: center;
  padding: 4px 0;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  color: inherit;
  background-color: transparent;

  &:focus {
    border: 1px solid var(--secondary-color);
  }
}

.changePassword {
  display: block;
  margin: 0 auto;
  border: none;
  color: inherit;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }
}

.field,
.submit {
  display: block;
  margin: 1vh auto;
  padding: 4px;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
  color: var(--text-color);
  background-color: var(--primary-color);

  &::placeholder {
    color: var(--placeholder-color);
  }
}

.submit {
  margin-top: 30px;
  padding: 6px 8px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  color: inherit;
  background-color: var(--secondary-color);
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
