.note {
  position: relative;
  margin: 1vw 0;
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: rgba(white, 0.5);
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5) inset;
  animation: show 1s;

  .colorPicker {
    z-index: 2;
    margin: 0 auto;
    box-sizing: border-box;
    animation: show 0.5s;

    @keyframes show {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .colorPalette {
    z-index: 1;
    position: absolute;
    top: 4px;
    right: 5px;
    width: 15px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .category,
  .categoryBackground,
  .title,
  .content,
  .save {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    font-family: inherit;
    background-color: inherit;
    text-align: center;
    color: inherit;
  }

  .category {
    position: absolute;
    top: 4px;
    font-size: 12px;
    letter-spacing: 3px;
    color: white;

    &::placeholder {
      color: #ffffffaf;
    }
  }

  .categoryBackground {
    width: 98%;
    margin: 4px auto;
    filter: blur(3px);
  }

  .title {
    margin: 6px auto;
    margin-bottom: 0;
    padding: 0 5%;
    box-sizing: border-box;
    font-size: 26px;
  }

  .content {
    width: 90%;
    margin: 4px 12px 2.5px 12px;
    padding-bottom: 12.5vh;
    resize: none;
    white-space: pre;
    overflow: auto;
    text-align: unset;
    font-size: 16px;

    &::-webkit-scrollbar-thumb {
      visibility: hidden;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        visibility: visible;
      }
    }
  }

  .fileInput {
    display: none;
  }

  .upload {
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: 16px;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .save {
    margin: 0 auto;
    width: 25%;
    min-height: 2vh;
    border-radius: 8px 8px 0 0;
    color: white;
    font-size: 16px;
    background-color: green;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background-color: rgb(44, 179, 44);
    }
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.noteDark {
  color: white;
  background-color: rgba(black, 0.5);

  .titleDark::placeholder {
    color: rgb(200, 200, 200);
  }
}

@media (max-width: 768px) {
  .note {
    margin: 4vw;
    width: 40%;
  }
}

@media (max-width: 480px) {
  .note {
    margin: 2vh 0;
    width: 100%;
  }
}

/* Desktop Only */
@media (pointer: fine) {
  .note {
    .content {
      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: #999;
      }
    }
  }
}
