.note {
  position: relative;
  margin: 1vw;
  min-width: 15vw;
  max-width: 30vw;
  min-height: 17.5vh;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5) inset;
  animation: show 1s;

  .category {
    position: absolute;
    top: 4px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    letter-spacing: 3px;
    color: white;
  }

  .categoryBackground {
    width: 98%;
    margin: 4px auto 0 auto;
    filter: blur(3px);
  }

  .title {
    margin: 10px auto;
    margin-bottom: 0;
    width: 94%;
    text-align: center;
    line-height: 0.85;
    font-size: 26px;
    font-weight: normal;
    word-break: break-word;
  }

  .content {
    position: relative;
    flex-grow: 1;
    margin: 10px 12px 2.5px 12px;
    white-space: pre;
    overflow: auto;
    font-size: 16px;

    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar-thumb {
      visibility: hidden;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        visibility: visible;
      }
    }
  }

  .file,
  .download {
    z-index: 1;
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: 16px;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .file {
    width: 13px;
  }

  .date,
  .confirmMessage {
    padding: 2.5px 0;
    text-align: center;
    font-size: 14px;
    color: rgb(160, 160, 160);
  }

  .confirmMessage {
    color: inherit;
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.noteDark {
  color: white;

  .fileDark {
    filter: invert(100%);
  }
}

@media (max-width: 768px) {
  .note {
    margin: 4vw;
    min-width: 30%;
    max-width: 42.5%;
    min-height: 40vh;
    max-height: 60vh;
  }
}

@media (max-width: 480px) {
  .note {
    margin: 2vh 0;
    width: 100%;
    max-width: none;
    min-height: 20vh;
    max-height: 50vh;

    .title {
      font-size: 22px;
    }

    .date,
    .confirmMessage {
      font-size: 12px;
    }
  }
}

/* Desktop Only */
@media (pointer: fine) {
  .note {
    .content {
      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: #999;
      }
    }
  }
}
