.filtersContainer {
    display: flex;
    margin: 2vh auto;
    margin-top: 5vh;
    width: 18vw;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 65px;
}

.filters {
    display: flex;
    justify-content: center;

    .categoryFilter, .searchFilter {
        border: 0.5px solid #ccc;
        border-radius: 5px;
        background-color: white;
    }

    .categoryFilter {
        width: 20%;
        outline: none;
        cursor: pointer;
        
        option {
            background-color: transparent;
        }
    }

    .searchFilter {
        .searchIcon {
            padding: 0.5rem;
        }

        .searchBox {
            border: none;
            background-color: transparent;
            outline: none;
        }
    }
}

.filtersDark {
    color: white;

    .categoryFilterDark {
        color: white;
        background-color: #262626;
    }

    .searchFilterDark {
        caret-color: white;
        background-color: #262626;

        .searchBox {
            color: white;

            &::placeholder {
                color: rgb(200, 200, 200);
            }
        }
    }
}

.notesContainer {
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1024px) {
    .filtersContainer {
        width: 40vw;
    }
}

@media (max-width: 768px) {
    .filtersContainer {
        width: 70vw;
    }
}

@media (max-width: 480px) {
    .filtersContainer {
        width: 95vw;

        .logo {
            width: 40px;
        }
    }
    
    .notesContainer {
        width: 90%;
        flex-direction: column;
        justify-content: center;
    }
}