.note {
  position: relative;
  margin: 1vw;
  min-width: 15%;
  max-width: 30%;
  min-height: 20vh;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0 ,0 , 0.25);
  animation: show 0.5s;

  .category {
    width: 100%;
    padding: 2px 0;
    border-radius: 4px 4px 0 0;
    text-align: center;
    font-size: 12px;
    letter-spacing: 3px;
    color: white;
  }
  
  .title {
    margin: 2.5% 0 0 0;
    padding: 0 5%;
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    word-break: break-word;
  }
  
  .content {
    flex-grow: 1;
    margin-top: 2.5%;
    padding: 0 5% 5% 5%;
    box-sizing: border-box;
    white-space: pre;
    overflow: auto;
    font-size: 16px;
  }

  .date, .confirmMessage {
    padding: 2.5px 0;
    border-top: 0.5px solid rgba(160, 160 ,160, 0.25);
    text-align: center;
    font-size: 14px;
    color: rgb(160, 160 ,160);
  }

  .confirmMessage {
    color: inherit;
  }

  @keyframes show {
    from { opacity: 0 }
    to { opacity: 1 }
  }
}

@media (max-width: 768px) {
  .note {
    margin: 4vw;
    min-width: 20%;
    max-width: 40%;
  }
}

@media (max-width: 480px) {
  .note {
    margin: 2vh 0;
    max-width: none;
    width: 100%;

    .title {
      font-size: 22px;
    }

    .date, .confirmMessage {
      font-size: 12px;
    }
  }
}