.bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 21.5px;
    border-radius: 4px 4px 0 0;
    background-color: transparent;
    animation: show 0.5s;

    @keyframes show {
        from {opacity: 0;}
        to {opacity: 1};
    }

    .edit, .delete, .confirm, .cancel {
        position: absolute;
        top: 12.5%;
        height: 75%;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }

    .edit, .confirm {
        left: 2%;
    }

    .delete, .cancel {
        right: 2%;
    }
}

@media (max-width: 480px) {
    .bar {
        .edit, .delete, .confirm, .cancel {
            top: 17.5%;
            -webkit-tap-highlight-color: transparent;

            &:hover {
                opacity: unset;
            }
        }
    }
}