.bar {
    position: absolute;
    bottom: 1.25%;
    width: 100%;
    min-height: 19px;
    border-radius: 4px 4px 0 0;
    background-color: transparent;
    animation: show 0.5s;

    @keyframes show {
        from {opacity: 0;}
        to {opacity: 1};
    }

    .edit, .delete {
        position: absolute;
        top: 10%;
        opacity: 0.75;
        cursor: pointer;
    }

    .edit {
        left: 2%;
        width: 19px;
    }

    .delete {
        right: 2%;
        width: 14px;
    }
}