@import 'styles/variables';

.wrapper {
  z-index: 3;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  max-height: 48px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  color: #f0f6fc;
  background-color: black;
  user-select: none;
  animation: showUpdateAlert 0.5s linear;

  @keyframes showUpdateAlert {
    from {
      opacity: 0;
    }
  }

  @media ($viewport-7) {
    left: unset;
    right: 20px;
  }
}

.updateDownloaded {
  width: 22px;
}

.desc {
  margin: 0;
  margin-left: 10px;
}

.refresh {
  margin-left: 10px;
  border: none;
  color: dodgerblue;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: lightblue;
  }
}
