.filters {
  margin: 20px auto;
  width: 25vw;
  display: flex;
  justify-content: center;

  .categoryFilter,
  .searchFilter {
    border: 0.5px solid #ccc;
    background-color: white;
  }

  .categoryFilter {
    width: 15%;
    border-radius: 5px 0 0 5px;
    outline: none;
    cursor: pointer;

    option {
      background-color: transparent;
    }
  }

  .searchFilter {
    border-radius: 0 5px 5px 0;

    .searchIcon {
      padding: 0.5rem;
    }

    .searchBox {
      border: none;
      background-color: transparent;
      outline: none;
    }
  }
}

.categoryFilterDark,
.searchFilterDark {
  color: inherit;
  background-color: #222 !important;
}

.searchFilterDark {
  .searchBox::placeholder {
    color: rgb(200, 200, 200);
  }
}

.notesContainer {
  margin: 0 auto;
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  .filters {
    width: 70vw;
  }
}

@media (max-width: 480px) {
  .filters {
    width: 90vw;
  }

  .notesContainer {
    width: 90%;
  }
}
