.note {
  position: relative;
  margin: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  animation: show 0.5s;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .category,
  .categoryBackground,
  .title,
  .content,
  .save {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    font-family: inherit;
    background-color: inherit;
    text-align: center;
    color: inherit;
  }

  .category {
    padding: 2px 0;
    border-radius: 4px 4px 0 0;
    font-size: 12px;
    letter-spacing: 3px;
    color: rgb(150, 150, 150);
    background-color: #ffffde;

    &::placeholder {
      color: rgb(190, 190, 190);
    }
  }

  .title {
    margin: 6px auto;
    margin-bottom: 0;
    padding: 0 5%;
    box-sizing: border-box;
    font-size: 24px;
  }

  .content {
    width: 90%;
    margin: 4px 12px 2.5px 12px;
    padding-bottom: 12.5vh;
    resize: none;
    white-space: pre;
    overflow: auto;
    text-align: unset;
    font-size: 16px;

    &::-webkit-scrollbar-thumb {
      visibility: hidden;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        visibility: visible;
      }
    }
  }

  .save {
    position: absolute;
    bottom: 0;
    width: 100;
    border-radius: 0 0 4px 4px;
    color: white;
    font-size: 14px;
    background-color: green;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background-color: rgb(44, 179, 44);
    }
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.saving {
  opacity: 0.5;
  cursor: wait;

  .category,
  .categoryBackground,
  .title,
  .content,
  .save {
    pointer-events: none;
  }
}

.titleDark::placeholder {
  color: rgb(200, 200, 200);
}

@media (max-width: 480px) {
  .note {
    width: 100%;
    height: 200px;
    margin: 10px 0;
  }
}

/* Desktop Only */
@media (pointer: fine) {
  .note {
    .content {
      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: #999;
      }
    }
  }
}
