@import 'styles/variables';

.heading {
  position: absolute;
  left: -9999px;
}

.enter {
  transform: translateX(100%);
  transition: transform 0.2s;
}

.enterActive {
  transform: translateX(0);
}

.exit {
  transition: transform 0.2s;
}

.exitActive {
  transform: translateX(-100%);
}
