@import 'styles/variables';

.left {
  .enter {
    transform: translateX(100%);
    transition: transform 0.2s;
  }

  .enterActive {
    transform: translateX(0);
  }

  .exit {
    transition: transform 0.2s;
  }

  .exitActive {
    transform: translateX(-100%);
  }
}

.right {
  .enter {
    transform: translateX(-100%);
    transition: transform 0.2s;
  }

  .enterActive {
    transform: translateX(0);
  }

  .exit {
    transform: translateX(0);
    transition: transform 0.2s;
  }

  .exitActive {
    transform: translateX(100%);
  }
}

.page {
  position: absolute;
  width: 100vw;
  min-height: calc(100vh - 60px);

  @media ($viewport-9) {
    width: auto;
  }
}
