.navBar {
  display: flex;
  margin-bottom: 40px;
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background-color: #3d3c42;
  color: white;
  box-shadow: 0 2px 5px gray;

  .logoWrap {
    display: flex;
    width: 15%;

    .logo {
      align-self: center;
      height: 40px;
    }
  }

  .link,
  .theme,
  .auth {
    color: inherit;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }

  .links {
    .link {
      padding: 0 6px;
      box-sizing: border-box;
      text-decoration: none;
      font-size: 24px;
    }
  }

  .util {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15%;

    .theme {
      width: 26px;
    }

    .auth {
      display: flex;
      margin-left: 15px;
      font-size: 22px;
      text-decoration: none;

      .user {
        align-self: center;
        width: 22px;
      }
    }
  }

  .active {
    cursor: default;
    opacity: 0.75;
  }
}

.theme,
.user {
  filter: invert(100%);
}

@media (max-width: 480px) {
  .navBar {
    .theme {
      width: 26px;
    }

    .notes,
    .auth {
      font-size: 20px;
    }

    .auth {
      .user {
        width: 20px;
      }
    }
  }
}

@media (pointer: none), (pointer: coarse) {
  .navBar {
    .logoWrap {
      .logo {
        // width: 35px;
      }
    }

    .theme,
    .notes,
    .auth {
      &:hover {
        opacity: 1;
      }
    }
  }
}
