.navBar {
  display: flex;
  margin: 1.5vh auto;
  margin-bottom: 5vh;
  padding: 0 10px;
  width: 99%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-start;

  .item,
  .theme,
  .auth {
    color: inherit;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }

  .item {
    padding: 2px 6px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 24px;
  }

  .theme {
    width: 26px;
  }

  .auth {
    float: right;
    margin-left: 10px;
    font-size: 22px;
    text-decoration: none;

    .user {
      width: 22px;
    }
  }

  .active {
    cursor: default;
    opacity: 0.75;
  }
}

.themeDark,
.userDark {
  filter: invert(100%);
}

@media (max-width: 480px) {
  .navBar {
    .theme {
      width: 26px;
    }

    .notes,
    .auth {
      font-size: 20px;
    }

    .auth {
      .user {
        width: 20px;
      }
    }
  }
}

@media (pointer: none), (pointer: coarse) {
  .navBar {
    .theme,
    .notes,
    .auth {
      &:hover {
        opacity: 1;
      }
    }
  }
}
