.FileSpinner {
  position: absolute;
  bottom: 2.5%;
  right: 2.5%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border-top: 3px solid rgba(dodgerblue, 0.5);
  border-right: 3px solid transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}