.FileSpinner {
  position: absolute;
  bottom: 6px;
  right: 6px;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border-top: 2px solid rgba(dodgerblue, 0.5);
  border-right: 2px solid transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}