.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 26px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: inherit;
  background-color: inherit;
  color: inherit;
  transition: 0.2s;
  animation: show 0.5s;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  }

  .category {
    min-width: 20%;
    padding: 5px 0;
    text-align: center;
    font-size: 12px;
    letter-spacing: 3px;
    color: rgb(150, 150, 150);
    background-color: #ffffde;
  }

  .name {
    max-width: 100%;
    margin: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: normal;
  }

  .infoWrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 100%;
  }

  .download {
    width: 15px;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.nameDark::placeholder {
  color: rgb(200, 200, 200);
}

@media (max-width: 480px) {
  .file {
    width: 100%;
    margin: 10px 0;

    .name {
      max-width: 50%;
    }

    .infoWrap {
      width: 35%;
      font-size: 12px;
    }
  }
}
