@import 'variables';

.wrapper {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 25px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--primary-color);
  animation: showAuth 0.25s;

  @keyframes showAuth {
    from {
      opacity: 0;
    }
  }

  @media ($viewport-4) {
    width: 420px;
  }
}

.title {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.divider {
  margin-top: 5%;
  height: 50px;
  border: 0.5px solid rgb(128, 128, 128);
}

.error {
  margin-bottom: 10%;
  text-align: center;
  color: red;
}

.field,
.submit {
  display: block;
  margin: 1vh auto;
  padding: 4px;
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
  color: var(--text-color);
  background-color: var(--primary-color);

  &::placeholder {
    color: var(--placeholder-color);
  }
}

.submit {
  margin-top: 30px;
  padding: 6px 8px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  color: inherit;
  background-color: var(--secondary-color);
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
