@import 'styles/variables';

.wrapper {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--primary-color);
  animation: showAuth 0.25s;

  @keyframes showAuth {
    from {
      opacity: 0;
    }
  }

  @media ($viewport-4) {
    width: 420px;
  }
}

.signIn {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  background-color: transparent;

  &:hover {
    opacity: 0.75;
    cursor: pointer;
  }
}

.signInText {
  margin: 0 10px;
}
